body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
}

/* HEADER */
.header {
  padding-top: 0cm;
  background: linear-gradient(to right, #f9e1ef, #dbe9ff);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
}

.logo h1 {
  margin: 0;
  color: #e91e63;
}

.logo p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}

.date-box {
  background: rgba(255,255,255,0.7);
  padding: 6px 12px;
  border-radius: 10px;
  font-weight: 500;
}

/* NAVBAR */

  nav {
  position: sticky;
  top: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  z-index: 10;
  }

  .navbar {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
  }

  .top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;     /* ez kell hogy minden fölé kerüljön */
}

  .second-navbar {
  margin-top: 60px; /* annyi px, amennyi a felső navbar magassága */
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  padding: 10px 0;
  margin: 0;
}

.navbar a {
  color: #222;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 0.2s ease;
}

.navbar a.active {
  background-color: #000;
  color: #fff;
}

  .content {
    padding: 20px;
  }

/* HERO */
.hero {
  text-align: center;
  background: linear-gradient(to bottom left, #f9f5fc, #eaf2ff);
  padding: 60px 20px;
  border-radius: 20px;
  margin: 30px auto;
  max-width: 90%;
}

.hero img {
  width: 60px;
}

.hero h2 {
  color: #e91e63;
  font-size: 2rem;
}

.hero p {
  color: #555;
  max-width: 600px;
  margin: 10px auto 30px;
}

.hero-buttons button {
  margin: 5px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
}

button.primary {
  background: #000;
  color: #fff;
  font-weight: bold;
  border-radius: 12px;
  font-size: medium;
  text-align: center;
}

button.secondary {
  background: #fff;
  border: 1px solid #ccc;
  text-align: center;
}

/* WHY */
.why {
  text-align: center;
  padding: 40px 20px;
}

.why-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 20px;
  width: 250px;
}

.card img {
  width: 40px;
}

.card h4 {
  margin-top: 10px;
}
/* WHY */

/* FLAVORS */
.flavors {
  text-align: center;
  background: linear-gradient(to right, #fbeef7, #eaf2ff);
  margin: 40px auto;
  border-radius: 20px;
  padding: 40px;
  max-width: 90%;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
}

.tags span {
  background: #f5f7fa;
  padding: 6px 10px;
  border-radius: 8px;
}

/* Galéria */
#Gallery {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

#Gallerytext {
  text-align: center;
}

#Gallerybuttons {
  text-align: center;
  color: white;
}

#Gallerytext2 {
  text-align: center;
  font-size: medium;
}

#Gallerytext3 {
  text-align: center;
}

#Gallerytextbuttons {
  text-align: center;
  color: #000;
}

#ordernow {
  text-align: center;
  background-color: #000;
  color: white;
  font-weight: bold;
}

#Gallerypictures2 {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 20px 40px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
}

.gallery-item img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

/* Szöveg a bal alsó sarokban */
.gallery-item .info {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: white;
  text-shadow: 0 3px 12px rgba(0,0,0,0.8);
}

.gallery-item .tag {
  display: inline-block;
  background: rgba(0,0,0,0.6);
  padding: 6px 12px;
  border-radius: 10px;
  margin-top: 8px;
  font-size: 14px;
}

/* Lightbox */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 20px;
}
/* Galéria */

/* Rólunk */

#about1 {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

#about2 {
  font-size: small;
  text-align: center;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 60px 40px;
  flex-wrap: wrap;
}

.text-image {
  display: flex;
  align-items: center;
  gap: 50px;
}

.right-img {
  border-radius: 20px;
  margin-top: 40px;
}

#About1 {
  text-align: center;
  font-size: medium;
}

#About2 {
  text-align: center;
  font-size: larger;
}

#About3 {
  text-align: left;
  margin-left: 200px;
}

#About4 {
  text-align: left;
  margin-left: 200px;
}

#About5 {
  text-align: left;
  margin-left: 200px;
}

#About6 {
  text-align: left;
  margin-left: 200px;
}

/* OURVALUES */
.ourvalues {
  text-align: center;
  padding: 20px 20px;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  border: 1px solid #eee;
  border-radius: 12px;
  background: linear-gradient(to right, #f9e1ef, #dbe9ff);
}

.ourvalues-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.valuecard {
  background: #fff;
  border: 3px solid #eee;
  border-radius: 12px;
  padding: 20px;
  width: 325px;
}

.card img {
  width: 30px;
}

.card h4 {
  margin-top: 10px;
}
/* OURVALUES */

/* OUR TEAM */
.ourteam {
  text-align: center;
  padding: 40px 40px;
}

.ourteam-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.personcard {
  background: #fff;
  border: 3px solid #eee;
  border-radius: 12px;
  padding: 10px;
  width: 475px;
  margin-left: 10px
}

.card img {
  width: 40px;
}

.card h4 {
  margin-top: 10px;
}

#classification {
  text-align: center;
  border: 0px solid #eeeeee;
  background-color: #c0cfcf;
  border-radius: 4px;
  margin-left: 170px;
  margin-right: 170px;
  font-size: 11px;
}
#ourmilestones {
  text-align: center;
}

#milestones {
  text-align: left;
  margin-left: 30%;
}

#teamtext {
  font-size: smaller;
}
#icon {
  background: linear-gradient(to right, #f9e1ef, #dbe9ff);
  margin-left: 42%;
  font-size: xx-large;
  width: 80px;
  height: 80px;
  border: 0px solid;
  border-radius: 50%;    
  display: flex;
  align-items: center;
  justify-content: center;
}

#randomicons {
  text-align: center;
  font-size: 40px;
}
/* OUR TEAM */

/* Rólunk */

/* Allergének */

#Allergens {
  text-align: center;
  font-size: x-large;
  color: #000;
  font-weight: bold;
}

#Allergens2 {
  text-align: center;
  font-size: medium;
}

.AllergenInfo  {
  text-align: left;
  padding: 10px 10px;
  margin-top: 50px;
  margin-left: 195px;
  margin-right: 195px;
  border-radius: 20px;
  border: 1px solid gray;
}

#flavoursallergens {
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
}

.flavourallergens2 {
  text-align: left;
}

.item1 {
  text-align: left;
  margin-left: 20px;
  border-radius: 12px;
  gap: 80px;
}

.item2 {
  text-align: center;
  margin-right: 40px;
  margin-bottom: 600px;
  border-radius: 12px;
}

.item3{
  text-align: right;
  margin-right: 40px;
  border-radius: 12px;
  gap: 20px;
}

.item4 {
  text-align: right;
  margin-right: 40px;
  border-radius: 12px;
  gap: 20px;
}

.item5 {
  text-align: right;
  margin-right: 40px;
  border-radius: 12px;
  gap: 20px;
}

#item1-1 {
  padding-top: 20px;
}

#item1-2 {
  padding-top: 20px;
}

#item1-3 {
  padding-top: 20px;
}

#item1-4 {
  padding-top: 20px;
}

#item1-5 {
  padding-top: 20px;
}

#item1-6 {
  padding-top: 20px;
}

#item1-7 {
  padding-top: 20px;
}

#item1-8 {
  padding-top: 20px;
}

#item1-9 {
  padding-top: 20px;
}

#item1-10 {
  padding-top: 20px;
}



#item2-1 {
  padding-top: 20px;
}

#item2-2 {
  padding-top: 20px;
}

#item2-3 {
  padding-top: 20px;
}

#item2-4 {
  padding-top: 20px;
}

#item2-5 {
  padding-top: 20px;
}

#item2-6 {
  padding-top: 20px;
}

#item2-7 {
  padding-top: 20px;
}

#item2-8 {
  padding-top: 20px;
}

#item2-9 {
  padding-top: 20px;
}

#item2-10 {
  padding-top: 20px;
}


/* Allergének */


/* Rendelés */

#Order {
  text-align: center;
}

#neworder {
  text-align: left;
}

/* Rendelés */